<%- include("partials/header") %>

<div style="margin-top:200px;padding:40px;">

  <h1 style="font-size:60px;color:black;">
    Analytics Working 😄🔥
  </h1>

  <p style="font-size:24px;color:black;">
    Dashboard rendering successfully.
  </p>

</div>

<%- include("partials/footer") %>