<%- include("partials/header") %>

<h3>Portal Login</h3>

<div>
<button onclick="showAdmin()">Admin Login</button>
<button onclick="showStudent()">Student Login</button>
</div>

<!-- ADMIN LOGIN -->

<div id="adminLogin">

<input type="text" id="adminUser" placeholder="Username">
<input type="password" id="adminPass" placeholder="Password">

<button onclick="adminLogin()">Login</button>

</div>

<!-- STUDENT LOGIN -->

<div id="studentLogin" style="display:none">

<select id="year">
<option value="2025-26">2025-26</option>
<option value="2026-27">2026-27</option>
</select>

<select id="course">
<option value="CGPSC">CGPSC</option>
<option value="VYAPAM">VYAPAM</option>
</select>

<input type="text" id="roll" placeholder="Roll Number">

<input type="password" id="dob" placeholder="DOB">

<button onclick="studentLogin()">Login</button>

</div>

<script>

function showAdmin(){
document.getElementById("adminLogin").style.display="block";
document.getElementById("studentLogin").style.display="none";
}

function showStudent(){
document.getElementById("adminLogin").style.display="none";
document.getElementById("studentLogin").style.display="block";
}

</script>

<%- include("partials/footer") %>
